{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% for posts in posts %}
                    <div class="col-md-7">
                    <div class="row">
                        
                        <div class="col-md-12 my-3">

                        </div>
                        <a class="col-md-12 my-3 title" href="{{path('show', {id: posts.id})}}">
                            <h2>{{posts.title}}</h2>
                        </a>
                        <div class="col-md-12 mb-3">
                           <h3> {{posts.abstract}}</h3>
                        </div>
                        <div class="col-md-12 mb-3">
                           <h3> {{posts.prepaTime}} Min</h3>
                        </div>
                        <div class="col-md-12 mb-3">
                            {{posts.createdAt|date('D d M Y ')}}
                        </div>
                    </div>
                    
                    </div>
                    <a class="col-md-5" href="{{path('show', {id: posts.id})}}">
                        <img class="my-3  d-flex" src="{{asset('divers/images/' ~ posts.image)}}" alt="Mon image"/>
                    </a>
                    {% endfor %}
                </div>

                {% for posts2 in posts2 %}
                <div class="card " style="width: 18rem;">
                    <a class="col-md-5 my-3" href="{{path('show', {id: posts2.id})}}">
                        <img src="d-flex imgPost2" src="{{asset('divers/images/' ~ posts2.image)}}" alt="Mon image"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{posts2.title}}</h5>
                        <p class="card-text">{{posts2.abstract}}</p>
                        <a href="{{path('show', {id: posts2.id})}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                <div class="txt-red">
						{% if is_granted("ROLE_USER") %}
                            {% set isFavorite = false %}
							{% for favoris in posts2.favoris %}
								{% if favoris.id == app.user.id %}
                                    {% set isFavorite = true %}
								{% endif %}    
							{% endfor %}
                            {% if isFavorite %}
								<a href="{{ path('retrait_favoris', {id: posts2.id}) }}"><i class="fas fa-heart"></i></a>
                            {% else %}
								<a href="{{ path('ajout_favoris', {id: posts2.id}) }}"><i class="far fa-heart"></i></a>
                            {% endif %}

						{% else %}
							<i class="far fa-heart"></i>
						{% endif %}
						
					</div>
                </div>
                {% endfor %}
{% endblock %}
